:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /* Variables para el modo claro */
    --color-text: #213547;
    --color-background: #ffffff;
    --color-link: #646cff;
    --color-link-hover: #747bff;
    --color-button-background: #f9f9f9;
    --color-button-border: transparent;

    /* Aplicar variables iniciales */
    color: var(--color-text);
    background-color: var(--color-background);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Modo oscuro */
[data-theme="dark"] {
    --color-text: rgba(255, 255, 255, 0.87);
    --color-background: #242424;
    --color-link: #646cff;
    --color-link-hover: #535bf2;
    --color-button-background: #1a1a1a;
    --color-button-border: #646cff;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    color: var(--color-text);
    background-color: var(--color-background);
}

a {
    font-weight: 500;
    color: var(--color-link);
    text-decoration: inherit;
}

a:hover {
    color: var(--color-link-hover);
}

button {
    border-radius: 8px;
    border: 1px solid var(--color-button-border);
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--color-button-background);
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: var(--color-link);
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
